Repository Cahllagerfeld/tanstack-router-dashboard: changes, and which lefthook commands are due for each by the changed paths.
All: oxlint, prettier

lefthook.yaml:

pre-commit:
  commands:
    oxlint:
      glob: "*.{js,ts}"
      run: bun oxlint --fix {staged_files}
      stage_fixed: true
    prettier:
      glob: "*.{js,json,md,svelte,ts,yaml,yml,jsx,tsx}"
      run: bun prettier --write {staged_files}
      stage_fixed: true

feat: env schema
  .env.example
  .gitignore
  src/features/core/env-schema.ts
  vite.config.ts
Due: oxlint, prettier

refactor: component table
  devenv.lock
  src/components/tables/columns-visibility-toggle.tsx
  src/features/components/components-list/columns.tsx
  src/features/components/components-list/component-table.tsx
  src/features/filters/type-filter.tsx
  src/routes/(private)/_unscoped/components/index.tsx
Due: prettier

refactor: other tables
  src/components/ui/data-table.tsx
  src/features/components/detail/stacks-tab.tsx
  src/features/stacks/stacks-list/columns.tsx
  src/features/stacks/stacks-list/stack-table.tsx
  src/features/users/list/columns.tsx
  src/features/users/list/user-list.tsx
  src/features/users/list/user-table.tsx
  src/routes/(private)/_unscoped/stacks/index.tsx
Due: prettier

feat: customizable tables (#224)
  devenv.lock
  src/components/tables/columns-visibility-toggle.tsx
  src/components/ui/data-table.tsx
  src/features/components/components-list/columns.tsx
  src/features/components/components-list/component-table.tsx
  src/features/components/detail/stacks-tab.tsx
  src/features/filters/type-filter.tsx
  src/features/stacks/stacks-list/columns.tsx
  src/features/stacks/stacks-list/stack-table.tsx
  src/features/users/list/columns.tsx
  src/features/users/list/user-list.tsx
  src/features/users/list/user-table.tsx
  src/routes/(private)/_unscoped/components/index.tsx
  src/routes/(private)/_unscoped/stacks/index.tsx
Due: prettier

feat: global error page
  src/features/root/global-error-boundary.tsx
  src/main.tsx
Due: prettier

feat: global error page (#225)
  src/features/root/global-error-boundary.tsx
  src/main.tsx
Due: prettier

refactor: remove scoped sidebar
  src/components/sidebar/app-sidebar.tsx
  src/components/sidebar/nav-secondary.tsx
  src/components/sidebar/project-switcher.tsx
  src/components/sidebar/sidebar.tsx
  src/components/sidebar/use-navbar-items.ts
  src/routeTree.gen.ts
  src/routes/(private)/_scoped/projects/$project_id/route.tsx
  src/routes/(private)/_sidebar/components/$component_id/index.tsx
  src/routes/(private)/_sidebar/components/$component_id/route.tsx
  src/routes/(private)/_sidebar/components/$component_id/stacks.tsx
  src/routes/(private)/_sidebar/components/index.tsx
  src/routes/(private)/_sidebar/components/route.tsx
  src/routes/(private)/_sidebar/projects/$project_id.tsx
  src/routes/(private)/_sidebar/projects/index.tsx
  src/routes/(private)/_sidebar/projects/route.tsx
  src/routes/(private)/_sidebar/route.tsx
  src/routes/(private)/_sidebar/settings/general.tsx
  src/routes/(private)/_sidebar/settings/members.tsx
  src/routes/(private)/_sidebar/stacks/index.tsx
  src/routes/(private)/_sidebar/stacks/route.tsx
Due: oxlint, prettier

feat: hook
  src/components/sidebar/sidebar.tsx
  src/hooks/use-is-project-route.tsx
Due: prettier

refactor: settings layout
  src/components/sidebar/use-navbar-items.ts
  src/hooks/use-sidebar-items.tsx
  src/routeTree.gen.ts
  src/routes/(private)/_sidebar/settings/general.tsx
  src/routes/(private)/_sidebar/settings/index.tsx
  src/routes/(private)/_sidebar/settings/route.tsx
  src/types/navbar.ts
Due: oxlint, prettier

refactor: layouts (#227)
  src/components/sidebar/app-sidebar.tsx
  src/components/sidebar/nav-secondary.tsx
  src/components/sidebar/project-switcher.tsx
  src/components/sidebar/sidebar.tsx
  src/components/sidebar/unscoped/service.ts
  src/components/sidebar/use-navbar-items.ts
  src/hooks/use-is-project-route.tsx
  src/hooks/use-sidebar-items.tsx
  src/routeTree.gen.ts
  src/routes/(private)/_scoped/projects/$project_id/route.tsx
  src/routes/(private)/_sidebar/components/$component_id/index.tsx
  src/routes/(private)/_sidebar/components/$component_id/route.tsx
  src/routes/(private)/_sidebar/components/$component_id/stacks.tsx
  src/routes/(private)/_sidebar/components/index.tsx
  src/routes/(private)/_sidebar/components/route.tsx
  src/routes/(private)/_sidebar/projects/$project_id.tsx
  src/routes/(private)/_sidebar/projects/index.tsx
  src/routes/(private)/_sidebar/projects/route.tsx
  src/routes/(private)/_sidebar/route.tsx
  src/routes/(private)/_sidebar/settings/general.tsx
  src/routes/(private)/_sidebar/settings/index.tsx
  src/routes/(private)/_sidebar/settings/members.tsx
  src/routes/(private)/_sidebar/settings/route.tsx
  src/routes/(private)/_sidebar/stacks/index.tsx
  src/routes/(private)/_sidebar/stacks/route.tsx
  src/routes/(private)/_unscoped/settings/general.tsx
  src/types/navbar.ts
Due: oxlint, prettier

chore: update more deps
  bun.lock
  package.json
Due: prettier

chore: update more deps (#230)
  bun.lock
  package.json
Due: prettier

docs: secret spec
  docs/secret-spec.md
Due: prettier

temp
  src/data/secrets/fetch-detail.ts
  src/data/secrets/fetch-list.ts
  src/data/secrets/index.ts
  src/data/secrets/mutations/create-secret.ts
  src/data/secrets/mutations/delete-secret.ts
  src/domain/secrets.spec.ts
  src/domain/secrets.ts
  src/features/secrets/create-secret-dialog.tsx
  src/features/secrets/secrets-list/columns.tsx
  src/features/secrets/secrets-list/secrets-table.tsx
  src/routeTree.gen.ts
  src/routes/(private)/_sidebar/settings/route.tsx
  src/routes/(private)/_sidebar/settings/secrets.tsx
  src/types/secrets.ts
Due: oxlint, prettier

feat: update devenv
  devenv.lock
Due: none

chore: update devenv (#235)
  devenv.lock
Due: none

feat: update deps & minReleaseAge
  bun.lock
  bunfig.toml
  package.json
Due: prettier

chore: update deps & minReleaseAge (#237)
  bun.lock
  bunfig.toml
  package.json
Due: prettier

chore: manual
  bun.lock
  package.json
Due: prettier

refactor: hook extensions
  src/hooks/use-copy.ts
  src/hooks/use-is-project-route.ts
  src/hooks/use-media-query.ts
  src/hooks/use-sidebar-items.ts
Due: oxlint, prettier

refactor: hook extensions (#239)
  src/hooks/use-copy.ts
  src/hooks/use-is-project-route.ts
  src/hooks/use-media-query.ts
  src/hooks/use-sidebar-items.ts
Due: oxlint, prettier

chore(deps): updates
  bun.lock
  package.json
Due: prettier

feat(setup): linter
  .github/workflows/unit-test.yml
  .oxlintrc.json
  lefthook.yaml
  src/components/ui/sidebar.tsx
Due: prettier

feat(setup): linter (#243)
  .github/workflows/unit-test.yml
  .oxlintrc.json
  lefthook.yaml
  src/components/ui/sidebar.tsx
Due: prettier

chore(deps): remove postcss
  bun.lock
  package.json
Due: prettier

chore(deps): remove postcss (#245)
  bun.lock
  package.json
Due: prettier

chore: more deps
  bun.lock
  package.json
Due: prettier

refactor(util): remove not needed util
  src/components/sidebar/project-switcher.tsx
  src/data/projects/mutations/create-project.ts
  src/domain/projects.ts
  src/features/projects/overview/project-item.tsx
  src/lib/names.ts
Due: oxlint, prettier

refactor(util): remove not needed util (#248)
  src/components/sidebar/project-switcher.tsx
  src/data/projects/mutations/create-project.ts
  src/domain/projects.ts
  src/features/projects/overview/project-item.tsx
  src/lib/names.ts
Due: oxlint, prettier

refactor(bundling): zod
  bun.lock
  package.json
  src/features/filters/common-filter-schema.ts
Due: oxlint, prettier

chore(deps): more updates
  bun.lock
  package.json
Due: prettier

chore(deps): misc updates (#252)
  bun.lock
  package.json
  src/features/filters/common-filter-schema.ts
Due: oxlint, prettier

chore(skills): add caveman skill
  .agents/skills/caveman/SKILL.md
  devenv.lock
  skills-lock.json
Due: prettier

chore(skills): add caveman skill (#253)
  .agents/skills/caveman/SKILL.md
  devenv.lock
  skills-lock.json
Due: prettier

feat(paraglide): initial setup
  bun.lock
  messages/de.json
  messages/en.json
  package.json
  project.inlang/settings.json
  src/features/components/components-list/component-table.tsx
  src/routes/(private)/_sidebar/components/index.tsx
  tsconfig.app.json
  vite.config.ts
Due: oxlint, prettier

fix: ci
  bun.lock
  package.json
  vite.config.ts
Due: oxlint, prettier

chore(deps): fix lockfile
  bun.lock
  package.json
Due: prettier

chore(deps): fix lockfile (#263)
  bun.lock
  package.json
Due: prettier

refactor: remove custom tranformer
  scripts/types.js
Due: oxlint, prettier

feat: correct types
  devenv.lock
  src/types/core.ts
Due: oxlint, prettier
