Repository Cahllagerfeld/tanstack-router-dashboard: changes, and which lefthook commands are due for each by the changed paths.
All: oxlint, prettier

lefthook.yaml:

pre-commit:
  commands:
    oxlint:
      glob: "*.{js,ts}"
      run: bun oxlint --fix {staged_files}
      stage_fixed: true
    prettier:
      glob: "*.{js,json,md,svelte,ts,yaml,yml,jsx,tsx}"
      run: bun prettier --write {staged_files}
      stage_fixed: true

refactor: responsive dialog
  src/components/ui/responsive-alert-dialog.tsx
  src/components/ui/responsive-dialog.tsx
  src/features/projects/create/dialog/create-project-dialog.tsx
  src/features/projects/create/dialog/dialog-content.tsx
  src/features/projects/delete/delete-project-alert.tsx
Due: prettier

refactor: lazy routes
  src/routeTree.gen.ts
  src/routes/(private)/_scoped/projects/$project_id.lazy.tsx
  src/routes/(private)/_scoped/projects/$project_id.tsx
  src/routes/(private)/_scoped/projects/$project_id/index.tsx
  src/routes/(private)/_unscoped.lazy.tsx
  src/routes/(private)/_unscoped.tsx
  src/routes/(private)/_unscoped/components/$component_id.lazy.tsx
  src/routes/(private)/_unscoped/components/$component_id.tsx
  src/routes/(private)/_unscoped/components/$component_id/index.tsx
  src/routes/(private)/_unscoped/components/$component_id/stacks.lazy.tsx
  src/routes/(private)/_unscoped/components/$component_id/stacks.tsx
  src/routes/(private)/_unscoped/components/index.lazy.tsx
  src/routes/(private)/_unscoped/components/index.tsx
  src/routes/(private)/_unscoped/projects.lazy.tsx
  src/routes/(private)/_unscoped/projects.tsx
  src/routes/(private)/_unscoped/settings/members.lazy.tsx
  src/routes/(private)/_unscoped/settings/members.tsx
  src/routes/(private)/_unscoped/stacks/index.lazy.tsx
  src/routes/(private)/_unscoped/stacks/index.tsx
  src/routes/(public)/_grid-layout/login.lazy.tsx
  src/routes/(public)/_grid-layout/login.tsx
  src/routes/(public)/_grid-layout/server-activation.lazy.tsx
  src/routes/(public)/_grid-layout/server-activation.tsx
  vite.config.ts
Due: oxlint, prettier

refactor: automatic codesplitting (#164)
  src/routeTree.gen.ts
  src/routes/(private)/_scoped/projects/$project_id.lazy.tsx
  src/routes/(private)/_scoped/projects/$project_id.tsx
  src/routes/(private)/_scoped/projects/$project_id/index.tsx
  src/routes/(private)/_unscoped.lazy.tsx
  src/routes/(private)/_unscoped.tsx
  src/routes/(private)/_unscoped/components/$component_id.lazy.tsx
  src/routes/(private)/_unscoped/components/$component_id.tsx
  src/routes/(private)/_unscoped/components/$component_id/index.tsx
  src/routes/(private)/_unscoped/components/$component_id/stacks.lazy.tsx
  src/routes/(private)/_unscoped/components/$component_id/stacks.tsx
  src/routes/(private)/_unscoped/components/index.lazy.tsx
  src/routes/(private)/_unscoped/components/index.tsx
  src/routes/(private)/_unscoped/projects.lazy.tsx
  src/routes/(private)/_unscoped/projects.tsx
  src/routes/(private)/_unscoped/settings/members.lazy.tsx
  src/routes/(private)/_unscoped/settings/members.tsx
  src/routes/(private)/_unscoped/stacks/index.lazy.tsx
  src/routes/(private)/_unscoped/stacks/index.tsx
  src/routes/(public)/_grid-layout/login.lazy.tsx
  src/routes/(public)/_grid-layout/login.tsx
  src/routes/(public)/_grid-layout/server-activation.lazy.tsx
  src/routes/(public)/_grid-layout/server-activation.tsx
  vite.config.ts
Due: oxlint, prettier

feat: followup adjustments
  src/components/ui/responsive-alert-dialog.tsx
  src/components/ui/responsive-dialog.tsx
  src/features/projects/create/dialog/create-project-dialog.tsx
Due: prettier

fix: inconsistency
  src/features/projects/create/dialog/create-project-dialog.tsx
  src/features/projects/create/dialog/form.tsx
Due: prettier

refactor: responsive dialog (#163)
  src/components/ui/responsive-alert-dialog.tsx
  src/components/ui/responsive-dialog.tsx
  src/features/projects/create/dialog/create-project-dialog.tsx
  src/features/projects/create/dialog/dialog-content.tsx
  src/features/projects/create/dialog/form.tsx
  src/features/projects/delete/delete-project-alert.tsx
Due: prettier

feat: frontend skill
  .claude/skills/frontend-design/SKILL.md
Due: prettier

docs: frontend skill (#165)
  .claude/skills/frontend-design/SKILL.md
Due: prettier

chore: update deps
  bun.lock
  package.json
Due: prettier

chore: update deps (#167)
  bun.lock
  package.json
Due: prettier

chore: udpate deps
  bun.lock
  package.json
Due: prettier

chore: udpate deps (#173)
  bun.lock
  package.json
Due: prettier

chore: update deps
  bun.lock
  package.json
  src/routeTree.gen.ts
  src/types/core.ts
Due: oxlint, prettier

chore: update deps & add new types (#179)
  bun.lock
  package.json
  src/routeTree.gen.ts
  src/types/core.ts
Due: oxlint, prettier

chore: update deps (#181)
  bun.lock
  package.json
Due: prettier

chore: update deps (#185)
  bun.lock
  package.json
Due: prettier

chore: new types
  src/types/core.ts
Due: oxlint, prettier

feat: update deps
  bun.lock
  package.json
Due: prettier

chore: update deps & new types (#190)
  bun.lock
  package.json
  src/types/core.ts
Due: oxlint, prettier

feat: update deps (#195)
  bun.lock
  package.json
Due: prettier

feat: migrate vite 8
  bun.lock
  package.json
  vite.config.ts
Due: oxlint, prettier

feat: new types
  src/types/core.ts
Due: oxlint, prettier

fix: update devenv
  devenv.lock
Due: none

refactor: migrate vite 8 (#217)
  bun.lock
  devenv.lock
  package.json
  src/types/core.ts
  vite.config.ts
Due: oxlint, prettier

refactor: migrate to openapi-fetch
  bun.lock
  package.json
  src/components/object-renderer/object-renderer.tsx
  src/components/object-renderer/value-renderer.tsx
  src/data/api-client.ts
  src/data/api.ts
  src/data/components/fetch-detail.ts
  src/data/components/fetch-list.ts
  src/data/components/index.ts
  src/data/projects/fetch-detail.ts
  src/data/projects/fetch-list.ts
  src/data/projects/index.ts
  src/data/projects/mutations/create-project.ts
  src/data/projects/mutations/delete-project.ts
  src/data/query-factory.ts
  src/data/server/activate-server.ts
  src/data/server/info.ts
  src/data/session/login.ts
  src/data/session/logout.ts
  src/data/stacks/fetch-detail.ts
  src/data/stacks/fetch-list.ts
  src/data/stacks/index.ts
  src/data/user/fetch-current-user.ts
  src/data/user/fetch-list.ts
  src/data/user/index.ts
  src/lib/fetch-error.ts
  src/lib/querystring.ts
  src/lib/type-guards.ts
  src/types/api.ts
  src/types/components.ts
  src/types/projects.ts
  src/types/server.ts
  src/types/session.ts
  src/types/stacks.ts
  src/types/user.ts
Due: oxlint, prettier

refactor: add mapping layer
  src/components/display-date.tsx
  src/components/sidebar/nav-user.tsx
  src/data/components/fetch-detail.ts
  src/data/components/fetch-list.ts
  src/data/projects/fetch-detail.ts
  src/data/projects/fetch-list.ts
  src/data/projects/index.ts
  src/data/projects/mutations/create-project.ts
  src/data/stacks/fetch-detail.ts
  src/data/stacks/fetch-list.ts
  src/data/user/fetch-current-user.ts
  src/data/user/fetch-list.ts
  src/domain/components.ts
  src/domain/flavors.ts
  src/domain/projects.ts
  src/domain/stacks.ts
  src/domain/users.ts
  src/features/components/components-list/columns.tsx
  src/features/components/detail/component-header.tsx
  src/features/components/detail/general-tab.tsx
  src/features/projects/overview/project-item.tsx
  src/features/projects/overview/project-list.tsx
  src/features/stacks/stacks-list/columns.tsx
  src/features/users/list/columns.tsx
  src/features/users/list/user-list.tsx
  src/lib/dates.ts
  src/lib/names.ts
  src/routes/(private)/_unscoped/projects.tsx
  src/types/components.ts
  src/types/projects.ts
  src/types/stacks.ts
  src/types/user.ts
Due: oxlint, prettier

style: adjustments to layout
  src/components/ui/scroll-area.tsx
  src/routes/(private)/_scoped/projects/$project_id.tsx
  src/routes/(private)/_unscoped.tsx
  src/routes/(private)/_unscoped/components/$component_id.tsx
  src/routes/__root.tsx
Due: prettier

style: adjustments to layout (#220)
  src/components/ui/scroll-area.tsx
  src/routes/(private)/_scoped/projects/$project_id.tsx
  src/routes/(private)/_unscoped.tsx
  src/routes/(private)/_unscoped/components/$component_id.tsx
  src/routes/__root.tsx
Due: prettier

fix: remove auth guard
  src/lib/auth-guards.ts
  src/lib/querystring.ts
  src/lib/url.ts
  src/routes/(private)/_scoped/projects/$project_id.tsx
  src/routes/(private)/_unscoped.tsx
  src/routes/(private)/_unscoped/projects.tsx
  src/routes/(private)/_unscoped/settings/members.tsx
  src/routes/(public)/_grid-layout/login.tsx
  src/routes/__root.tsx
  src/types/server.ts
Due: oxlint, prettier

feat: init breadcrumbs
  src/components/breadcrumb/Breadcrumb.tsx
  src/routeTree.gen.ts
  src/routes/(private)/_unscoped.tsx
  src/routes/(private)/_unscoped/components/$component_id/route.tsx
  src/routes/(private)/_unscoped/components/route.tsx
  src/routes/(private)/_unscoped/projects.tsx
  src/routes/(private)/_unscoped/settings/members.tsx
  src/routes/(private)/_unscoped/stacks/index.tsx
  src/routes/(private)/_unscoped/stacks/route.tsx
  src/routes/(private)/route.tsx
Due: oxlint, prettier

refactor: route
  src/routeTree.gen.ts
  src/routes/(public)/_grid-layout/route.tsx
Due: oxlint, prettier

refactor: more routes
  src/routeTree.gen.ts
  src/routes/(private)/_scoped/projects/$project_id/route.tsx
  src/routes/(private)/_unscoped/route.tsx
Due: oxlint, prettier

feat: add breadcrumb (#221)
  src/components/breadcrumb/Breadcrumb.tsx
  src/lib/auth-guards.ts
  src/lib/querystring.ts
  src/lib/url.ts
  src/routeTree.gen.ts
  src/routes/(private)/_scoped/projects/$project_id.tsx
  src/routes/(private)/_scoped/projects/$project_id/route.tsx
  src/routes/(private)/_unscoped/components/$component_id/route.tsx
  src/routes/(private)/_unscoped/components/route.tsx
  src/routes/(private)/_unscoped/projects.tsx
  src/routes/(private)/_unscoped/route.tsx
  src/routes/(private)/_unscoped/settings/members.tsx
  src/routes/(private)/_unscoped/stacks/index.tsx
  src/routes/(private)/_unscoped/stacks/route.tsx
  src/routes/(private)/route.tsx
  src/routes/(public)/_grid-layout/login.tsx
  src/routes/(public)/_grid-layout/route.tsx
  src/routes/__root.tsx
  src/types/server.ts
Due: oxlint, prettier

feat: add composition skill
  .agents/skills/vercel-composition-patterns/AGENTS.md
  .agents/skills/vercel-composition-patterns/README.md
  .agents/skills/vercel-composition-patterns/SKILL.md
  .agents/skills/vercel-composition-patterns/rules/_sections.md
  .agents/skills/vercel-composition-patterns/rules/_template.md
  .agents/skills/vercel-composition-patterns/rules/architecture-avoid-boolean-props.md
  .agents/skills/vercel-composition-patterns/rules/architecture-compound-components.md
  .agents/skills/vercel-composition-patterns/rules/patterns-children-over-render-props.md
  .agents/skills/vercel-composition-patterns/rules/patterns-explicit-variants.md
  .agents/skills/vercel-composition-patterns/rules/react19-no-forwardref.md
  .agents/skills/vercel-composition-patterns/rules/state-context-interface.md
  .agents/skills/vercel-composition-patterns/rules/state-decouple-implementation.md
  .agents/skills/vercel-composition-patterns/rules/state-lift-state.md
  devenv.nix
  skills-lock.json
Due: prettier

chore: design skill
  .agents/skills/frontend-design/LICENSE.txt
  .agents/skills/frontend-design/SKILL.md
  skills-lock.json
Due: prettier

chore: Agent Skills (#222)
  .agents/skills/frontend-design/LICENSE.txt
  .agents/skills/frontend-design/SKILL.md
  .agents/skills/vercel-composition-patterns/AGENTS.md
  .agents/skills/vercel-composition-patterns/README.md
  .agents/skills/vercel-composition-patterns/SKILL.md
  .agents/skills/vercel-composition-patterns/rules/_sections.md
  .agents/skills/vercel-composition-patterns/rules/_template.md
  .agents/skills/vercel-composition-patterns/rules/architecture-avoid-boolean-props.md
  .agents/skills/vercel-composition-patterns/rules/architecture-compound-components.md
  .agents/skills/vercel-composition-patterns/rules/patterns-children-over-render-props.md
  .agents/skills/vercel-composition-patterns/rules/patterns-explicit-variants.md
  .agents/skills/vercel-composition-patterns/rules/react19-no-forwardref.md
  .agents/skills/vercel-composition-patterns/rules/state-context-interface.md
  .agents/skills/vercel-composition-patterns/rules/state-decouple-implementation.md
  .agents/skills/vercel-composition-patterns/rules/state-lift-state.md
  devenv.nix
  skills-lock.json
Due: prettier
