Repository Cahllagerfeld/tanstack-router-dashboard: changes, and which lefthook commands are due for each by the changed paths.
All: oxlint, prettier

oxlint:
  run: bun oxlint --fix {staged_files}
  stage_fixed: true

prettier:
  run: bun prettier --write {staged_files}
  stage_fixed: true

chore: update icons (#420)
  CONTEXT.md
  src/components/sidebar/use-navbar-items.ts
  src/features/components/detail/component-not-found.tsx
  src/features/projects/overview/project-list-no-items-fallback.tsx
  src/lib/constants/entity-icons.spec.ts
  src/lib/constants/entity-icons.ts
Due: oxlint, prettier

docs: update
  AGENTS.md
Due: prettier

docs: update agentsfile (#421)
  AGENTS.md
Due: prettier

chore: update deps
  package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: prettier

chore: update deps (#460)
  package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: prettier

refactor: migrate react table 9
  package.json
  pnpm-lock.yaml
  src/components/tables/columns-visibility-toggle.tsx
  src/components/tables/data-table-features.ts
  src/components/tables/data-table.tsx
  src/features/components/components-list/columns.tsx
  src/features/components/detail/stacks-tab.tsx
  src/features/stacks/stacks-list/columns.tsx
  src/features/stacks/stacks-list/stack-table.tsx
  src/features/users/list/columns.tsx
  src/features/users/list/user-list.tsx
  src/features/users/list/user-table.tsx
  src/lib/table.ts
  src/routes/(private)/_sidebar/components/index.tsx
  src/routes/(private)/_sidebar/stacks/index.tsx
  src/types/tanstack-table.d.ts
Due: oxlint, prettier

feat: update node version
  devenv.nix
Due: none

chore: update node version (#464)
  devenv.nix
Due: none

refactor: migrate react table 9 (#462)
  package.json
  pnpm-lock.yaml
  src/components/tables/columns-visibility-toggle.tsx
  src/components/tables/data-table-features.ts
  src/components/tables/data-table.tsx
  src/features/components/components-list/columns.tsx
  src/features/components/detail/stacks-tab.tsx
  src/features/stacks/stacks-list/columns.tsx
  src/features/stacks/stacks-list/stack-table.tsx
  src/features/users/list/columns.tsx
  src/features/users/list/user-list.tsx
  src/features/users/list/user-table.tsx
  src/lib/table.ts
  src/routes/(private)/_sidebar/components/index.tsx
  src/routes/(private)/_sidebar/stacks/index.tsx
  src/types/tanstack-table.d.ts
Due: oxlint, prettier

feat: unify table toolbar
  CONTEXT.md
  src/components/tables/table-toolbar.tsx
  src/features/components/detail/stacks-tab.tsx
  src/features/users/list/searchbar.tsx
  src/features/users/list/user-list.tsx
  src/routes/(private)/_sidebar/components/index.tsx
  src/routes/(private)/_sidebar/settings/members.tsx
  src/routes/(private)/_sidebar/stacks/index.tsx
Due: prettier

test: cover server activation auto-login
  src/data/server/activate-server.spec.ts
  src/data/server/activate-server.ts
Due: oxlint, prettier

feat: Login after Server Activation (#89)
  src/data/server/activate-server.spec.ts
  src/data/server/activate-server.ts
  src/features/server-activation/use-password-step.ts
Due: oxlint, prettier

feat: unify table toolbar (#491)
  CONTEXT.md
  src/components/tables/table-toolbar.tsx
  src/features/components/detail/stacks-tab.tsx
  src/features/users/list/searchbar.tsx
  src/features/users/list/user-list.tsx
  src/routes/(private)/_sidebar/components/index.tsx
  src/routes/(private)/_sidebar/settings/members.tsx
  src/routes/(private)/_sidebar/stacks/index.tsx
Due: prettier

fix: lint
  package.json
  pnpm-lock.yaml
  src/components/debounced-input.tsx
  src/hooks/use-media-query.ts
  src/hooks/use-mobile.ts
Due: oxlint, prettier

chore: update ts
  package.json
  pnpm-lock.yaml
  tsconfig.app.json
  tsconfig.json
  tsconfig.node.json
Due: prettier

refactor: remove override
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: prettier

chore: remove override (#498)
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: prettier

feat: table
  devenv.yaml
  src/components/sidebar/nav-main.tsx
  src/components/sidebar/use-navbar-items.ts
  src/data/pipelines/index.spec.ts
  src/data/pipelines/index.ts
  src/domain/pipelines.spec.ts
  src/domain/pipelines.ts
  src/features/pipelines/pipelines-list/columns.tsx
  src/features/projects/detail/project-not-found.tsx
  src/routes/(private)/_sidebar/projects/$project_id/index.tsx
  src/routes/(private)/_sidebar/projects/$project_id/pipelines.tsx
  src/routes/(private)/_sidebar/projects/$project_id/route.tsx
  src/types/navbar.ts
Due: oxlint, prettier

feat: Setup Project scoped routes (#283)
  devenv.yaml
  src/components/sidebar/nav-main.tsx
  src/components/sidebar/sidebar.tsx
  src/components/sidebar/use-navbar-items.ts
  src/data/pipelines/fetch-list.ts
  src/data/pipelines/index.spec.ts
  src/data/pipelines/index.ts
  src/domain/pipelines.spec.ts
  src/domain/pipelines.ts
  src/features/pipelines/pipelines-list/columns.tsx
  src/features/projects/detail/project-not-found.tsx
  src/routeTree.gen.ts
  src/routes/(private)/_sidebar/projects/$project_id.tsx
  src/routes/(private)/_sidebar/projects/$project_id/index.tsx
  src/routes/(private)/_sidebar/projects/$project_id/pipelines.tsx
  src/routes/(private)/_sidebar/projects/$project_id/route.tsx
  src/types/navbar.ts
  src/types/pipelines.ts
Due: oxlint, prettier

docs: add docs
  AGENTS.md
  docs/adr/0001-paraglide-internationalization.md
Due: prettier

feat: setup paraglide (#254)
  AGENTS.md
  docs/adr/0001-paraglide-internationalization.md
  messages/de.json
  messages/en.json
  package.json
  pnpm-lock.yaml
  project.inlang/settings.json
  src/components/tables/data-table.tsx
  src/routes/(private)/_sidebar/components/index.tsx
  tsconfig.app.json
  vite.config.ts
Due: oxlint, prettier

fix(ci): resolve project build type errors
  src/data/projects/mutations/create-project.ts
  tsconfig.app.json
Due: oxlint, prettier

chore: deps
  .oxfmtrc.json
  .prettierignore
  .prettierrc
  lefthook.yaml
  package.json
  pnpm-lock.yaml
Due: prettier

chore: adjust translations
  messages/de.json
  messages/en.json
  src/components/sidebar/nav-main.tsx
Due: prettier

chore: adjust translations (#546)
  messages/de.json
  messages/en.json
  src/components/sidebar/nav-main.tsx
Due: prettier

refactor: collapse project read module (#436)
  src/data/projects/fetch-detail.ts
  src/data/projects/fetch-list.ts
  src/data/projects/index.ts
Due: oxlint, prettier

refactor: deepen resource read modules
  src/data/components/fetch-detail.ts
  src/data/components/fetch-list.ts
  src/data/components/index.ts
  src/data/pipelines/fetch-list.ts
  src/data/pipelines/index.ts
  src/data/stacks/fetch-detail.ts
  src/data/stacks/fetch-list.ts
  src/data/stacks/index.ts
Due: oxlint, prettier

refactor: collapse shallow resource read modules (#547)
  src/data/components/fetch-detail.ts
  src/data/components/fetch-list.ts
  src/data/components/index.ts
  src/data/pipelines/fetch-list.ts
  src/data/pipelines/index.ts
  src/data/projects/fetch-detail.ts
  src/data/projects/fetch-list.ts
  src/data/projects/index.ts
  src/data/stacks/fetch-detail.ts
  src/data/stacks/fetch-list.ts
  src/data/stacks/index.ts
Due: oxlint, prettier

test: add Vitest browser project (#548)
  .github/workflows/unit-test.yml
  package.json
  pnpm-lock.yaml
  src/components/secret-value.browser.spec.tsx
  src/test/browser.setup.ts
  vite.config.ts
Due: oxlint, prettier

test: add Vitest browser project (#548) (#549)
  .github/workflows/unit-test.yml
  package.json
  pnpm-lock.yaml
  src/components/secret-value.browser.spec.tsx
  src/test/browser.setup.ts
  vite.config.ts
Due: oxlint, prettier

test: close high-risk testing gaps (#551)
  AGENTS.md
  src/components/copy-button.browser.spec.tsx
  src/components/debounced-input.browser.spec.tsx
  src/components/object-renderer/object-renderer.browser.spec.tsx
  src/components/object-renderer/types.spec.ts
  src/data/components/index.spec.ts
  src/data/pipelines/index.spec.ts
  src/data/projects/index.spec.ts
  src/data/projects/mutations/create-project.spec.ts
  src/data/projects/mutations/create-project.ts
  src/data/projects/mutations/delete-project.spec.ts
  src/data/projects/mutations/delete-project.ts
  src/data/server/info.spec.ts
  src/data/session/login.spec.ts
  src/data/session/logout.spec.ts
  src/data/stacks/index.spec.ts
  src/data/user/index.spec.ts
  src/domain/mappers.spec.ts
  src/features/filters/common-filter-schema.spec.ts
  src/features/filters/type/index.spec.ts
  src/features/login/hooks/use-login-form.spec.ts
  src/features/login/hooks/use-login-form.ts
  src/features/login/login-form.browser.spec.tsx
  src/features/login/login-form.tsx
  src/features/projects/create/dialog/form.browser.spec.tsx
  src/features/projects/create/dialog/schema.spec.ts
  src/features/server-activation/use-password-step.spec.ts
  src/features/server-activation/use-password-step.ts
  src/lib/fetch-error.spec.ts
  src/lib/loader-utils.spec.ts
  src/lib/projects.spec.ts
  vite.config.ts
Due: oxlint, prettier

test: address testing review findings (#551)
  src/features/login/hooks/use-login-form.ts
  src/features/login/login-form.browser.spec.tsx
  src/features/login/schema.spec.ts
  src/features/login/schema.ts
  src/features/projects/create/dialog/form.browser.spec.tsx
  src/features/projects/delete/delete-project-alert.browser.spec.tsx
  src/features/server-activation/schema.spec.ts
  src/features/server-activation/schema.ts
  src/features/server-activation/use-password-step.ts
  vite.config.ts
Due: oxlint, prettier

Path conditions:
  oxlint: any of: *.{js,ts}
  prettier: any of: *.{js,json,md,svelte,ts,yaml,yml,jsx,tsx}
