Repository Cahllagerfeld/tanstack-router-dashboard: changes, and which lefthook commands are due for each by the changed paths.
All: oxlint, prettier

lefthook.yaml:

pre-commit:
  commands:
    oxlint:
      glob: "*.{js,ts}"
      run: bun oxlint --fix {staged_files}
      stage_fixed: true
    prettier:
      glob: "*.{js,json,md,svelte,ts,yaml,yml,jsx,tsx}"
      run: bun prettier --write {staged_files}
      stage_fixed: true

feat: add react compiler
  bun.lock
  devenv.lock
  package.json
  src/components/debounced-input.tsx
  src/components/ui/sidebar.tsx
  src/features/components/components-list/columns.tsx
  src/features/users/list/columns.tsx
  vite.config.ts
Due: oxlint, prettier

feat: add react compiler (#124)
  bun.lock
  devenv.lock
  package.json
  src/components/debounced-input.tsx
  src/components/ui/sidebar.tsx
  src/features/components/components-list/columns.tsx
  src/features/users/list/columns.tsx
  vite.config.ts
Due: oxlint, prettier

refactor: query factories
  src/components/sidebar/project-switcher.tsx
  src/components/sidebar/unscoped/index.tsx
  src/data/components/index.ts
  src/data/components/queries/component-list.ts
  src/data/projects/index.ts
  src/data/projects/queries/project-detail.ts
  src/data/projects/queries/projects-list.ts
  src/data/query-factory.ts
  src/data/user/index.ts
  src/data/user/queries/current-user.ts
  src/data/user/queries/user-list.ts
  src/features/filters/common-filter-schema.ts
  src/features/projects/overview/project-list.tsx
  src/features/users/list/user-list.tsx
  src/routes/(private)/_scoped/projects/$project_id.tsx
  src/routes/(private)/_unscoped/components/index.lazy.tsx
  src/routes/(private)/_unscoped/components/index.tsx
  src/routes/(private)/_unscoped/projects.tsx
  src/routes/(private)/_unscoped/settings/members.tsx
  src/routes/(private)/index.tsx
  src/types/components.ts
  src/types/user.ts
Due: oxlint, prettier

refactor: query factories (#130)
  src/components/sidebar/project-switcher.tsx
  src/components/sidebar/unscoped/index.tsx
  src/data/components/index.ts
  src/data/components/queries/component-list.ts
  src/data/projects/index.ts
  src/data/projects/queries/project-detail.ts
  src/data/projects/queries/projects-list.ts
  src/data/query-factory.ts
  src/data/user/index.ts
  src/data/user/queries/current-user.ts
  src/data/user/queries/user-list.ts
  src/features/filters/common-filter-schema.ts
  src/features/projects/overview/project-list.tsx
  src/features/users/list/user-list.tsx
  src/routes/(private)/_scoped/projects/$project_id.tsx
  src/routes/(private)/_unscoped/components/index.lazy.tsx
  src/routes/(private)/_unscoped/components/index.tsx
  src/routes/(private)/_unscoped/projects.tsx
  src/routes/(private)/_unscoped/settings/members.tsx
  src/routes/(private)/index.tsx
  src/types/components.ts
  src/types/user.ts
Due: oxlint, prettier

feat: add claude code
  CLAUDE.md
  devenv.nix
  devenv.yaml
Due: prettier

docs: add claude code (#132)
  CLAUDE.md
  devenv.nix
  devenv.yaml
Due: prettier

fix: dep
  bun.lock
Due: none

feat: add component detail
  src/components/copy-button.tsx
  src/components/key-value-list.tsx
  src/components/object-renderer/index.ts
  src/components/object-renderer/object-renderer.tsx
  src/components/object-renderer/types.ts
  src/components/object-renderer/value-renderer.tsx
  src/components/providers.tsx
  src/components/secret-value.tsx
  src/components/ui/tabs.tsx
  src/data/api.ts
  src/data/components/index.ts
  src/features/components/components-list/columns.tsx
  src/features/components/detail/component-detail-skeleton.tsx
  src/features/components/detail/component-header.tsx
  src/features/components/detail/general-tab.tsx
  src/features/components/detail/stacks-tab.tsx
  src/lib/query-client.ts
  src/main.tsx
  src/routeTree.gen.ts
  src/routes/(private)/_unscoped/components/$component_id.lazy.tsx
  src/routes/(private)/_unscoped/components/$component_id.tsx
Due: oxlint, prettier

chore: formatter
  src/components/object-renderer/object-renderer.tsx
  src/components/object-renderer/value-renderer.tsx
  src/features/components/detail/component-header.tsx
  src/features/components/detail/general-tab.tsx
  src/features/components/detail/stacks-tab.tsx
Due: prettier

feat: add page titles
  index.html
  src/routes/(private)/_scoped/projects/$project_id.tsx
  src/routes/(private)/_unscoped/components/$component_id.tsx
  src/routes/(private)/_unscoped/components/index.tsx
  src/routes/(private)/_unscoped/projects.tsx
  src/routes/(private)/_unscoped/settings/general.tsx
  src/routes/(private)/_unscoped/settings/members.tsx
  src/routes/(public)/_grid-layout/login.tsx
  src/routes/(public)/_grid-layout/server-activation.tsx
  src/routes/__root.tsx
Due: prettier

feat: empty states
  lefthook.yaml
  src/components/ui/empty.tsx
  src/features/components/detail/component-not-found.tsx
  src/features/filters/common-filter-schema.ts
  src/features/filters/type-filter.tsx
  src/lib/loader-utils.ts
  src/routes/(private)/_scoped/projects/$project_id.tsx
  src/routes/(private)/_unscoped/components/$component_id.tsx
  src/routes/(private)/_unscoped/components/index.tsx
  src/routes/(private)/_unscoped/projects.tsx
  src/routes/(private)/_unscoped/settings/members.tsx
  src/routes/(public)/_grid-layout/login.tsx
Due: oxlint, prettier

fix: filter
  src/features/filters/common-filter-schema.ts
  src/routes/(private)/_unscoped/components/index.tsx
Due: oxlint, prettier

fix: querykeys
  src/data/components/index.ts
  src/data/query-factory.ts
Due: oxlint, prettier

refactor: separate routes
  index.html
  src/features/components/components-list/columns.tsx
  src/routeTree.gen.ts
  src/routes/(private)/_unscoped/components/$component_id.lazy.tsx
  src/routes/(private)/_unscoped/components/$component_id.tsx
  src/routes/(private)/_unscoped/components/$component_id/index.lazy.tsx
  src/routes/(private)/_unscoped/components/$component_id/stacks.lazy.tsx
Due: oxlint, prettier

feat: initial component detail (#141)
  index.html
  lefthook.yaml
  src/components/copy-button.tsx
  src/components/key-value-list.tsx
  src/components/object-renderer/index.ts
  src/components/object-renderer/object-renderer.tsx
  src/components/object-renderer/types.ts
  src/components/object-renderer/value-renderer.tsx
  src/components/providers.tsx
  src/components/secret-value.tsx
  src/components/ui/empty.tsx
  src/components/ui/tabs.tsx
  src/data/api.ts
  src/data/components/index.ts
  src/data/query-factory.ts
  src/features/components/components-list/columns.tsx
  src/features/components/detail/component-detail-skeleton.tsx
  src/features/components/detail/component-header.tsx
  src/features/components/detail/component-not-found.tsx
  src/features/components/detail/general-tab.tsx
  src/features/components/detail/stacks-tab.tsx
  src/features/filters/common-filter-schema.ts
  src/features/filters/type-filter.tsx
  src/lib/loader-utils.ts
  src/lib/query-client.ts
  src/main.tsx
  src/routeTree.gen.ts
  src/routes/(private)/_scoped/projects/$project_id.tsx
  src/routes/(private)/_unscoped/components/$component_id.lazy.tsx
  src/routes/(private)/_unscoped/components/$component_id.tsx
  src/routes/(private)/_unscoped/components/$component_id/index.lazy.tsx
  src/routes/(private)/_unscoped/components/$component_id/stacks.lazy.tsx
  src/routes/(private)/_unscoped/components/index.tsx
  src/routes/(private)/_unscoped/projects.tsx
  src/routes/(private)/_unscoped/settings/general.tsx
  src/routes/(private)/_unscoped/settings/members.tsx
  src/routes/(public)/_grid-layout/login.tsx
  src/routes/(public)/_grid-layout/server-activation.tsx
  src/routes/__root.tsx
Due: oxlint, prettier

feat: update dependencies
  bun.lock
  package.json
Due: prettier

chore: update dependencies (#144)
  bun.lock
  package.json
Due: prettier

feat: init stack list
  src/components/sidebar/unscoped/service.ts
  src/data/api.ts
  src/data/stacks/index.ts
  src/features/stacks/stacks-list/columns.tsx
  src/routeTree.gen.ts
  src/routes/(private)/_unscoped/stacks/index.lazy.tsx
  src/routes/(private)/_unscoped/stacks/index.tsx
  src/types/stacks.ts
Due: oxlint, prettier

feat: component stack list
  src/features/components/detail/stacks-tab.tsx
  src/routes/(private)/_unscoped/components/$component_id/stacks.lazy.tsx
  src/routes/(private)/_unscoped/components/$component_id/stacks.tsx
Due: prettier

docs: some cursor rules
  .cursor/rules/tanstack-react-router_api.mdc
  .cursor/rules/tanstack-react-router_guide.mdc
  .cursor/rules/tanstack-react-router_installation.mdc
  .cursor/rules/tanstack-react-router_routing.mdc
  .cursor/rules/tanstack-react-router_setup-and-architecture.mdc
Due: none

feat: stack list (#145)
  .cursor/rules/tanstack-react-router_api.mdc
  .cursor/rules/tanstack-react-router_guide.mdc
  .cursor/rules/tanstack-react-router_installation.mdc
  .cursor/rules/tanstack-react-router_routing.mdc
  .cursor/rules/tanstack-react-router_setup-and-architecture.mdc
  src/components/sidebar/unscoped/service.ts
  src/data/api.ts
  src/data/stacks/index.ts
  src/features/components/detail/stacks-tab.tsx
  src/features/stacks/stacks-list/columns.tsx
  src/routeTree.gen.ts
  src/routes/(private)/_unscoped/components/$component_id/stacks.lazy.tsx
  src/routes/(private)/_unscoped/components/$component_id/stacks.tsx
  src/routes/(private)/_unscoped/stacks/index.lazy.tsx
  src/routes/(private)/_unscoped/stacks/index.tsx
  src/types/stacks.ts
Due: oxlint, prettier

feat: init new page
  src/components/page-commons.tsx
  src/features/stacks/create/component-type-grid.tsx
  src/features/stacks/create/general-card.tsx
  src/routeTree.gen.ts
  src/routes/(private)/_unscoped/stacks/new.lazy.tsx
Due: oxlint, prettier

fix: vitest
  bun.lock
Due: none

fix: build
  bun.lock
  package.json
Due: prettier

feat: new release
  bun.lock
  package.json
  src/lib/constants/component-types.ts
  src/types/core.ts
Due: oxlint, prettier

feat: update to latest backend version (#152)
  bun.lock
  package.json
  src/lib/constants/component-types.ts
  src/types/core.ts
Due: oxlint, prettier

feat: add field component
  src/components/ui/field.tsx
Due: prettier

refactor: existing forms
  src/components/ui/form.tsx
  src/features/filters/option-select.tsx
  src/features/filters/type-filter.tsx
  src/features/login/login-form.tsx
  src/features/projects/create/dialog/form.tsx
  src/features/server-activation/password-step.tsx
  src/routes/(public)/_grid-layout/server-activation.lazy.tsx
Due: prettier

refactor: Forms to use Shadcn Field (#153)
  src/components/ui/field.tsx
  src/components/ui/form.tsx
  src/features/filters/option-select.tsx
  src/features/filters/type-filter.tsx
  src/features/login/login-form.tsx
  src/features/projects/create/dialog/form.tsx
  src/features/server-activation/password-step.tsx
  src/routes/(public)/_grid-layout/server-activation.lazy.tsx
Due: prettier

feat: component icon
  src/components/icons/component-icon.tsx
Due: prettier

feat: add logstore icon
  src/components/icons/component-icon.tsx
Due: prettier

feat: grid item
  src/features/stacks/create/component-type-grid-item.tsx
  src/features/stacks/create/component-type-grid.tsx
  src/lib/constants/component-types.ts
Due: oxlint, prettier

fix: manual updates
  bun.lock
  package.json
Due: prettier

fix: select
  src/features/filters/option-select.tsx
  src/features/filters/type-filter.tsx
Due: prettier

chore: update lock
  devenv.lock
Due: none

feat: add link
  src/features/stacks/stacks-list/searchbar.tsx
  src/routes/(private)/_unscoped/stacks/index.lazy.tsx
Due: prettier

chore: update deps
  bun.lock
  package.json
Due: prettier

chore: update deps (#161)
  bun.lock
  package.json
Due: prettier
