Repository Cahllagerfeld/tanstack-router-dashboard: changes, and which lefthook commands are due for each by the changed paths.
All: oxlint, prettier

lefthook.yaml:

pre-commit:
  commands:
    oxlint:
      glob: "*.{js,ts}"
      run: bun oxlint --fix {staged_files}
      stage_fixed: true
    prettier:
      glob: "*.{js,json,md,svelte,ts,yaml,yml,jsx,tsx}"
      run: bun prettier --write {staged_files}
      stage_fixed: true

refactor(types): remove custom transformer (#267)
  devenv.lock
  scripts/types.js
  src/types/core.ts
Due: oxlint, prettier

chore: more deps
  bun.lock
  package.json
Due: prettier

feat: more deps
  bun.lock
  package.json
Due: prettier

fix: lockfile
  bun.lock
Due: none

chore(types): new types
  src/types/core.ts
Due: oxlint, prettier

chore(types): new types (#276)
  src/types/core.ts
Due: oxlint, prettier

refactor: copy hook
  src/components/copy-button.tsx
  src/features/projects/overview/set-project-command.tsx
  src/hooks/use-copy.ts
Due: oxlint, prettier

refactor: query keys
  src/data/components/index.ts
  src/data/projects/index.ts
  src/data/projects/mutations/create-project.ts
  src/data/projects/mutations/delete-project.ts
  src/data/server/index.ts
  src/data/session/logout.ts
  src/data/stacks/index.ts
  src/data/user/index.ts
  src/features/login/hooks/use-login-form.ts
  src/features/server-activation/use-password-step.ts
Due: oxlint, prettier

ci: update actions
  .github/workflows/unit-test.yml
Due: prettier

refactor: query keys (#280)
  .github/workflows/unit-test.yml
  src/components/copy-button.tsx
  src/data/components/index.ts
  src/data/projects/index.ts
  src/data/projects/mutations/create-project.ts
  src/data/projects/mutations/delete-project.ts
  src/data/server/index.ts
  src/data/session/logout.ts
  src/data/stacks/index.ts
  src/data/user/index.ts
  src/features/login/hooks/use-login-form.ts
  src/features/projects/overview/set-project-command.tsx
  src/features/server-activation/use-password-step.ts
  src/hooks/use-copy.ts
Due: oxlint, prettier

refactor(schema): use literal
  src/features/filters/common-filter-schema.ts
Due: oxlint, prettier

chore: make int
  src/routes/(private)/_sidebar/projects/index.tsx
  src/routes/(private)/_sidebar/settings/members.tsx
Due: prettier

chore(schemas): Update Zod Schema (#281)
  src/features/filters/common-filter-schema.ts
  src/routes/(private)/_sidebar/projects/index.tsx
  src/routes/(private)/_sidebar/settings/members.tsx
Due: oxlint, prettier

refactor(layout): project_id breadcrumbs
  src/routeTree.gen.ts
  src/routes/(private)/_sidebar/projects/$project_id/index.tsx
  src/routes/(private)/_sidebar/projects/$project_id/route.tsx
Due: oxlint, prettier

refactor: sidebaritems
  src/components/sidebar/sidebar.tsx
  src/components/sidebar/use-navbar-items.ts
  src/routeTree.gen.ts
  src/routes/(private)/_sidebar/projects/$project_id/pipelines.tsx
Due: oxlint, prettier

feat: pipelines
  src/components/sidebar/use-navbar-items.ts
  src/data/pipelines/fetch-list.ts
  src/data/pipelines/index.ts
  src/domain/pipelines.ts
  src/routes/(private)/_sidebar/projects/$project_id/pipelines.tsx
  src/types/pipelines.ts
Due: oxlint, prettier

chore: more code
  bun.lock
  devenv.lock
  devenv.nix
  package.json
Due: prettier

refactor(package-manager): remove bun
  .github/workflows/unit-test.yml
  CLAUDE.md
  README.md
  bun.lock
  bunfig.toml
  devenv.nix
  lefthook.yaml
  package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
  process-compose.yml
  scripts/types.js
  src/types/core.ts
Due: oxlint, prettier

refactor(package-manager): remove bun (#293)
  .github/workflows/unit-test.yml
  CLAUDE.md
  README.md
  bun.lock
  bunfig.toml
  devenv.nix
  lefthook.yaml
  package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
  process-compose.yml
  scripts/types.js
  src/types/core.ts
Due: oxlint, prettier

chore: ignore
  .prettierignore
Due: none

chore: context aware theme
  src/assets/styles/tailwind.css
  src/routes/__root.tsx
Due: prettier

chore: update
  pnpm-lock.yaml
Due: prettier

chore: updates
  devenv.lock
  package.json
  pnpm-lock.yaml
Due: prettier

chore(deps): more
  devenv.lock
  package.json
  pnpm-lock.yaml
Due: prettier

chore: more deps
  package.json
  pnpm-lock.yaml
Due: prettier

refactor: package manager in package.json
  .github/workflows/unit-test.yml
  package.json
Due: prettier

feat: migrate pnpm 11
  package.json
Due: prettier

chore: migrate pnpm 11 (#316)
  package.json
Due: prettier

chore(deps): housekeeping
  package.json
  pnpm-lock.yaml
Due: prettier

chore(deps): housekeeping (#330)
  package.json
  pnpm-lock.yaml
Due: prettier

refactor: keys
  messages/de.json
  messages/en.json
  src/features/components/components-list/component-table.tsx
  src/routes/(private)/_sidebar/components/index.tsx
Due: prettier

chore(deps): update
  devenv.nix
  package.json
  pnpm-lock.yaml
Due: prettier

chore(deps): update
  package.json
  pnpm-lock.yaml
Due: prettier

chore(deps): update (#383)
  package.json
  pnpm-lock.yaml
Due: prettier

chore: various things
  devenv.lock
  package.json
  pnpm-lock.yaml
  src/lib/constants/component-types.ts
  src/routeTree.gen.ts
  src/routes/(private)/_sidebar/components/$component_id/route.tsx
  src/types/core.ts
  src/types/server.ts
Due: oxlint, prettier

chore: various things (#417)
  devenv.lock
  package.json
  pnpm-lock.yaml
  src/lib/constants/component-types.ts
  src/routeTree.gen.ts
  src/routes/(private)/_sidebar/components/$component_id/route.tsx
  src/types/core.ts
  src/types/server.ts
Due: oxlint, prettier

docs: setup agents
  AGENTS.md
  devenv.nix
  docs/agents/domain.md
  docs/agents/issue-tracker.md
  docs/agents/triage-labels.md
Due: prettier

docs: setup agents (#418)
  AGENTS.md
  devenv.nix
  docs/agents/domain.md
  docs/agents/issue-tracker.md
  docs/agents/triage-labels.md
Due: prettier

Associate Lucide icons with core domain entities.
  CONTEXT.md
  src/components/sidebar/use-navbar-items.ts
  src/features/components/detail/component-not-found.tsx
  src/features/projects/overview/project-list-no-items-fallback.tsx
  src/lib/constants/entity-icons.spec.ts
  src/lib/constants/entity-icons.ts
Due: oxlint, prettier
